<div class="panel panel-default">
    <div class="panel-heading">Persons search</div>
    <div class="panel-body">
        <div class="list-group" style="height:450px;">
            <input class="form-control" placeholder="Mario Rossi" ng-model="tbFirstName" ng-change="getFiltred({ firstName:tbFirstName })" />
            <br/>
            <a href="#" class="list-group-item" ng-repeat="person in items" ng-click="select(person)">
                {{person.FirstName}} - {{person.LastName}} - {{person.FiscalCode}}
            </a>
        </div>
    </div>
</div>
