

<div >    
    <fieldset>                      
        <div class="panel panel-default" style="height:542px;">
            <div class="panel-heading">
                Person Details
                <actionbar style="float:right;margin-top:-7px;" state="transactionStateItem" validatedupd="validatedupd()" initupd="initupd()" validateddel="validateddel()" validatedundo="validatedundo()" statechanged="statechanged(state)"></actionbar>
            </div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-md-2">
                        <ul class="nav nav-pills nav-stacked">
                            <li role="presentation"><a ng-click="viewTab='profile'" href="#">Profile</a></li>
                            <li role="presentation"><a ng-click="viewTab='addresses'" href="#">Address({{item.Addresses.length}})</a></li>
                            <li role="presentation"><a ng-click="viewTab='other'" href="#">Other</a></li>
                        </ul>
                    </div>
                    <div class="col-md-10" ng-show="item!=null">
                        <div ng-show="viewTab=='profile' || viewTab==null">
                            <fieldset>
                                <legend>Profile</legend>
                                <table>
                                    <tr>                                        
                                        <td><label style="width:100px;">ID</label></td>
                                        <td><maskedfield value="item.ID" enablestate="1111" mask="00000" state="1"></maskedfield></td>
                                    </tr>
                                    <tr>
                                        <td><label for="tbNome">FirstName</label></td>
                                        <td><maskedfield value="item.FirstName" enablestate="1111" mask="00000" state="transactionStateItem"></maskedfield></td>
                                    </tr>
                                    <tr>
                                        <td><label for="tbCognome">LastName</label></td>
                                        <td><maskedfield value="item.LastName" enablestate="1111" mask="00000" state="transactionStateItem"></maskedfield></td>
                                    </tr>
                                    <tr>
                                        <td><label for="tbCodFis">Fiscal Code</label></td>
                                        <td><maskedfield value="item.FiscalCode" enablestate="1111" mask="00000" state="transactionStateItem"></maskedfield></td>
                                    </tr>
                                </table>
                            </fieldset>
                        </div>

                        <div ng-show="viewTab=='addresses'">
                            <fieldset>
                                <legend>
                                    Addresses
                                    <button style="float: right; margin-top: -7px;" ng-click="addNew(item.Addresses)" ng-disabled="transactionStateItem!=4" class="btn btn-default">Add new Address</button>
                                </legend>
                                <div>
                                    
                                    <table class="table table-hover">
                                        <thead>
                                            <tr>
                                                <th>
                                                    From Date
                                                </th>
                                                <th>
                                                    City
                                                </th>
                                                <th>
                                                    Street
                                                </th>
                                                <th>
                                                    Number
                                                </th>
                                                <th>
                                                    
                                                </th>
                                            </tr>
                                        </thead>
                                        <tr ng-repeat="address in item.Addresses">
                                            <td><datefield value="address.FromDate" enablestate="1111" format="MM/dd/yyyy" state="transactionStateItem" size="80"></datefield></td>
                                            <td><lookupautosuggestfield selected="address.City" lookupname="Cities" enablestate="1111" mask="00000" state="transactionStateItem"></lookupautosuggestfield></td>
                                            <td><maskedfield value="address.StreetName" enablestate="1111" mask="00000" state="transactionStateItem" size="80"></maskedfield></td>
                                            <td><maskedfield value="address.Number" enablestate="1111" mask="00000" state="transactionStateItem" size="40"></maskedfield></td>
                                            <td><button ng-click="remove(address)" ng-disabled="transactionStateItem!=4" class="btn btn-default" style="float:right;">Remove</button></td>                                            
                                        </tr>
                                    </table>
                                </div>
                            </fieldset>
                        </div>

                        <div ng-show="viewTab=='other'">
                            <fieldset>
                                <legend>
                                    Other
                                </legend>
                            </fieldset>
                        </div>
                    </div>
                    <div class="col-md-10" ng-show="item==null">
                        Select a item                        
                    </div>
                </div>
            </div>
        </div>                                                  
    </fieldset>
</div>
