<style>
     .rowList {
         cursor: pointer;
     }
     .rowSelected {
         font-weight: 700;
     }
</style>

<button ng-click="new()">New</button>
<table class="table table-hover">
    <thead>
        <tr>
            <th>
                FirstName
            </th>
            <th>
                LastName
            </th>
            <th>
                FiscalCode
            </th>
        </tr>
    </thead>
    <tr ng-repeat="person in items" ng-click="select(person)">
        <td>{{person.FirstName}}</td>
        <td>{{person.LastName}}</td>
        <td>{{person.FiscalCode}}</td>
    </tr>
</table>

<!--<button ng-click="new()" >New</button>
<ul>
    <li ng-repeat="person in items" ng-click="select(person)" >
        <div ng-class="{rowSelected: person==selected }" class="rowList">
            {{person.FirstName}} - {{person.LastName}} - {{person.FiscalCode}}
        </div>
    </li>
</ul>-->