@{
    ViewBag.Title = "Home";
}
<br />

<div class="row">
    <div class="col-md-3">
        <filteredlist modeltype="person" selected="selectedPersonSimple" eventexecname="onactionexecutedSimple"></filteredlist>
    </div>
    <div class="col-md-9">
        <crud modeltype="person" model="selectedPersonSimple" eventexecname="onactionexecutedSimple"></crud>
    </div>
</div>
