<style>
    .edit {
        background-color: white;
        border: 1px solid;
        border-color: #CCC;        
        height: 25px;
        padding-left: 1px;
    }

    .viewe {
        background-color: transparent;
        border: 0px solid;
        padding-left: 2px;        
        color: #606060;
        height: 25px;
    }
</style>

<script src="/Scripts/bootstrap-datepicker.js"></script>

<span ng-show="state==3 || state==4">    
    <input ng-model="value"
           placeholder="click to show datepicker"
           style='width:{{size}}px;'
           class="datepicker"
           format="{{format}}"
           calendar />    
</span>
<span ng-show="state==1 || state==2">    
    <input ng-model="value" style='width:{{size}}px;' class="viewe" />
</span>
